---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Lead Architect</h2>
		<p>Proven track record of building scalable, high-performance systems, and leading cross-functional teams.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="card" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Payments Expert</h2>
		<p>Extensive experience in designing, scaling, and optimizing payment systems globally.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy Minded</h2>
		<p>Strong ability to align technical solutions with business goals, collaborating with product management and sales teams.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="whiteboard" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Knowledge Sharer</h2>
		<p>Passionate about teaching, sharing knowledge, conducting workshops, and fostering continuous learning within teams. Basically, I always have a whiteboard near me.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="coffee" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Problem Solver</h2>
		<p>Dedicated to solving complex challenges with a mix of curiosity, creativity, and a pragmatic approach.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pivot" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Fast Adapter</h2>
		<p>Ability to quickly pivot and thrive in dynamic environments, balancing technical and business needs.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
